
  <!--   Core   -->
  <script src="/static/dashboard/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/dashboard/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="/static/dashboard/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/dashboard/js/plugins/chart.js/dist/Chart.extension.js"></script>
{#          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>#}

  <!--   Argon JS   -->
  <script src="/static/dashboard/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script src="/static/dashboard/js/app.js"> </script>
