<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dedicated Discord/Telegram Bot hosting provider.">
    <meta name="keywords" content="Discord, Discord Bot, Discord Bot Hosting, VPS hosting, Database Hosting, Postgres Hosting, MySQL hosting">

  <title>
   {% block title %} Dashboard {% endblock %} - Novanodes
  </title>

  <!-- Favicon - loaded as static -->
  <link href="https://cdn.discordapp.com/attachments/821724303283322882/824362257860263936/nova.ico" rel="icon">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{%  static 'dashboard/js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
  <link href="{% static 'dashboard/js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'dashboard/css/argon-dashboard.css' %}" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body {% if request.user.customer.dark_mode %}class="bg-gradient-gray"{% endif %}>

  {% include "dashboard/includes/sidenav.html" %}

  <div class="main-content {% if request.user.customer.dark_mode %}bg-gradient-gray{% endif %}">

    {% include "dashboard/includes/navigation.html" %}

    {% block content %}{% endblock content %}
    <div style="position: fixed; bottom: 0; right: 0;" class="col-lg-3">
      {% if alert %}
        <div class="alert {{ alert.bs_class }} alert-dismissible fade show" role="alert">
            <a href="#" class="close" data-dismiss="alert"><strong>&times;</strong></a>
            <strong>{{ alert.atype }}</strong>: {{ alert.msg }}
        </div>
      {% else %}
        <div id="successAlert" class="alert alert-success alert-dismissible collapse" role="alert">
            <a href="#" class="close" data-dismiss="alert"><strong>&times;</strong></a>
            <strong>Success</strong>: <span id="sAlertMsg"></span>
        </div>

        <div id="dangerAlert" class="alert alert-danger alert-dismissible collapse" role="alert">
            <a href="#" class="close" data-dismiss="alert"><strong>&times;</strong></a>
            <strong>Error</strong>: <span id="dAlertMsg"></span>
        </div>

        <div id="warningAlert" class="alert alert-warning alert-dismissible collapse" role="alert">
            <a href="#" class="close" data-dismiss="alert"><strong>&times;</strong></a>
            <strong>Warning</strong>: <span id="wAlertMsg"></span>
        </div>

        <div id="infoAlert" class="alert alert-info alert-dismissible collapse" role="alert">
            <a href="#" class="close" data-dismiss="alert"><strong>&times;</strong></a>
            <strong>Info</strong>: <span id="iAlertMsg"></span>
        </div>
      {% endif %}
    </div>
  </div>

  {% include "dashboard/includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>
