{% load custom %}

<div class="pl-lg-4">
    <div class="row">
        <div class="col-lg-12 form-group">
            <div class="card shadow">
                <div class="card-header border-0">
                <div class="row" id="manageRefreshSection">
                    {% include 'dashboard/refresh_pages/appmanagement.html' %}
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card shadow">
                <div class="card-header border-0">
                  <div class="row align-items-center">
                  <div>
                      {% if folder.folder.id %}
                      <a href="/manage/{{ app.id }}/{{ folder.folder.id }} "><button type="button" class="btn-sm btn-outline-primary btn"><i class="fa fa-arrow-circle-left"></i> Go back</button></a>
                      {% endif %}
                  </div>
                  {% if not app.requirements %}
                    <div class="col">
                        <a href="#"><i class="fa fa-info-circle fa-lg text-danger" data-toggle="modal" data-target="#configModalCenter"></i></a>
                    </div>
                  {% endif %}
                    <div class="col text-right">
                        <button type="button" href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn-sm btn-outline-primary btn"><i class="fa fa-folder-plus"></i> New folder</button>
                        <button type="button" href="#" data-toggle="modal" data-target="#fileModalCenter" class="btn-sm btn-outline-primary btn"><i class="fa fa-file-import"></i> Upload files</button>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thread-light">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Creation date</th>
                        <th scope="col">Size</th>
                        <th scope="col">
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for dir in folder.master.all %}
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <div class="media-body">
                                <a href="/manage/{{ app.id }}/{{ dir.id }}"><span class="mb-0 text-sm"><i class="fa fa-folder fa-lg"></i> {{ dir.name }}</span></a>
                            </div>
                          </div>
                        </th>
                        <td>
                          {{ dir.creation_date }}
                        </td>
                        <td>
                          <span class="badge badge-dot mr-4">{{ dir.get_size }}</span>
                        </td>
                        <td class="text-right">
                          <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="#" data-toggle="modal" onclick="setFolderName('{{ dir.name }}','{{ dir.id }}')" data-target="#deleteModalCenter">Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                    {% for file in folder.file_set.all %}
                        {% if not file.system_file %}
                          <tr>
                            <th scope="row">
                              <div class="media align-items-center">
                                <div class="media-body">
                                    <a href="#"><span class="mb-0 text-sm"><i class="fa fa-file-code fa-lg"></i> {{ file.name }}</span></a>
                                </div>
                              </div>
                            </th>
                            <td>
                              {{ file.creation_date }}
                            </td>
                            <td>
                                <span class="badge badge-dot mr-4">{{ file.get_size }}</span>
                            </td>
                            <td class="text-right">
                              <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                   <a class="dropdown-item" href="#" data-toggle="modal" onclick="setFileId('{{ file.pk }}')" data-target="#renameFileModal">Rename</a>
                                  <a class="dropdown-item" href="{{ file.item.url }}" download>Download</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" onclick="setFileName('{{ file.name }}','{{ file.pk }}')" data-target="#deleteModalCenter">Delete</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>