  <div class="card card-stats mb-4 mb-xl-0 {% if request.user.customer.dark_mode %}bg-gradient-gray{% endif %}">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase {% if request.user.customer.dark_mode %}text-darker{% else %}text-muted{% endif %} mb-0">Credits</h5>
          <span class="h2 font-weight-bold {% if request.user.customer.dark_mode %}text-darker{% endif %} mb-0">{% if request.user.customer.rounded_credits %}${{ request.user.customer.rounded_credits }}{% else %}$0{% endif %}</span>
        </div>
        <div class="col-auto">
          <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
            <i class="fas fa-dollar-sign"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-stats mt-3 {% if request.user.customer.dark_mode %}bg-gradient-gray{% endif %}">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase {% if request.user.customer.dark_mode %}text-darker{% else %}text-muted{% endif %} mb-0">Coins</h5>
          <span class="h2 font-weight-bold {% if request.user.customer.dark_mode %}text-darker{% endif %} mb-0">{{ request.user.customer.coins }}</span>
        </div>
        <div class="col-auto">
          <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
            <i class="fas fa-coins"></i>
          </div>
        </div>
      </div>
    </div>
  </div>