<footer class="footer-area footer-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="/static/img/logos/logo-1.png" alt="Images">
                        </a>
                    </div>
                    <p>
                        Reach us
                    </p>
                    <ul class="footer-list-contact">
                        <li>
                            <i class='bx bxs-envelope border-radius-50'></i>
                            <a href="mailto:support@novanodes.com">support@novanodes.com</a>
                        </li>
                        <li>
                            <i class='bx bxl-discord border-radius-50'></i>
                            <a href="https://discord.gg/MdTp2Xyupd">Discord Server</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3>Company</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="{% url 'about' %}" target="_blank">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'terms' %}" target="_blank">
                                Terms & Condition
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'privacy' %}" target="_blank">
                                Privacy policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3>Services</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="{% url 'discord' %}" target="_blank">
                                Discord Bot Hosting
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                MineCraft Server Hosting
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                Database Hosting
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-widget">
                    <h3>Quick Links</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="{% url 'home' %}" target="_blank">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}" target="_blank">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
