<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="assets\css\bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets\css\animate.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="assets\fonts\flaticon.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="assets\css\boxicons.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="assets\css\magnific-popup.css">
        <!-- Owl Carousel Min CSS --> 
        <link rel="stylesheet" href="assets\css\owl.carousel.min.css">
        <link rel="stylesheet" href="assets\css\owl.theme.default.min.css">
        <!-- Nice Select Min CSS --> 
        <link rel="stylesheet" href="assets\css\nice-select.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="assets\css\meanmenu.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets\css\style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets\css\responsive.css">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets\img\favicon.png">

        <title>Durel - Domain & Hosting Agency HTML Template</title>
    </head>

    <body>
        <div class="preloader">
            <div class="loader-in">Loading...</div>
        </div>

        <!-- Top Header Start -->
        <header class="top-header top-header-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-9">
                        <div class="header-right">
                            <ul>
                                <li>
                                    <i class='bx bxs-location-plus'></i>
                                    <a href="#">6890 Blvd, The Bronx, NY 1058, USA</a>
                                </li>
                                <li>
                                    <i class='bx bxs-envelope'></i>
                                    <a href="mailto:hello@durel.com">hello@durel.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="top-heder-right">
                            <ul>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="log-in.html">Log In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Top Header End -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="assets\img\logos\logo-1.png" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets\img\logos\logo-1.png" alt="Logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Home 
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">
                                                Home One  
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">
                                                Home Two
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">
                                                Home Three
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        Pages 
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link active">
                                                About
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="affiliates.html" class="nav-link">
                                                Affiliates
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Services 
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="services-1.html" class="nav-link">
                                                        Services Style One 
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="services-2.html" class="nav-link">
                                                        Services Style Two 
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="service-details.html" class="nav-link">
                                                        Service Details 
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                FAQ
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="pricing-1.html" class="nav-link">
                                                Pricing Style One
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="pricing-2.html" class="nav-link">
                                                Pricing Style Two
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                Testimonials
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="log-in.html" class="nav-link">
                                                Log In
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">
                                                Registration
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">
                                                Terms & Conditions
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                Privacy Policy
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">
                                                404 page
                                            </a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">
                                                Coming Soon
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Hosting
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="shared-hosting.html" class="nav-link">
                                                Shared Hosting 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="reseller-hosting.html" class="nav-link">
                                                Reseller Hosting 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="dedicated-hosting.html" class="nav-link">
                                                Dedicated Hosting 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="vps-hosting.html" class="nav-link">
                                                Vps Hosting
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="cloud-hosting.html" class="nav-link">
                                                Cloud Hosting
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="wordpress-hosting.html" class="nav-link">
                                                WordPress Hosting
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="managed-hosting.html" class="nav-link">
                                                Managed Hosting
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Domain
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="domain-1.html" class="nav-link">
                                                Domain Style One 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="domain-2.html" class="nav-link">
                                                Domain Style Two 
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog-1.html" class="nav-link">
                                                Blog Style One 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-2.html" class="nav-link">
                                                Blog Style Two 
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">
                                                Blog Details 
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        Contact
                                    </a>
                                </li>
                            </ul>

                            <div class="other-option">
                                <div class="option-item d-line">
                                    <div class="language-list">
                                        <div class="dropdown language-list-dropdown">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Language
                                                <i class='bx bx-chevron-down'></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">
                                                    <img src="assets\img\language-flag\eng.png" alt="Images">
                                                    English
                                                </a>
                                                <a href="#">
                                                    <img src="assets\img\language-flag\arabic.png" alt="Images">
                                                    اللغة العربية
                                                </a>
                                                <a href="#">
                                                    <img src="assets\img\language-flag\germany.png" alt="Images">
                                                    Deutsch
                                                </a>
                                                <a href="#">
                                                    <img src="assets\img\language-flag\portugal.png" alt="Images">
                                                    Português
                                                </a>
                                                <a href="#">
                                                    <img src="assets\img\language-flag\china.png" alt="Images">
                                                    普通話
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="option-item d-in-line">
                                    <div class="nav-btn">
                                        <a href="#" class="default-btn btn-bg-one border-radius-50">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="side-nav-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="circle-inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="side-nav-inner">
                            <div class="side-nav justify-content-center align-items-center">
                                <div class="side-item">
                                    <div class="option-item">
                                        <div class="language-list">
                                            <div class="dropdown language-list-dropdown">
                                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Language
                                                    <i class='bx bx-chevron-down'></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">
                                                        <img src="assets\img\language-flag\eng.png" alt="Images">
                                                        English
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets\img\language-flag\arabic.png" alt="Images">
                                                        اللغة العربية
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets\img\language-flag\germany.png" alt="Images">
                                                        Deutsch
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets\img\language-flag\portugal.png" alt="Images">
                                                        Português
                                                    </a>
                                                    <a href="#">
                                                        <img src="assets\img\language-flag\china.png" alt="Images">
                                                        普通話
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="side-item">
                                    <div class="option-item">
                                        <div class="option-btn">
                                            <a href="#" class="default-btn btn-bg-one border-radius-50">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Inner Banner Area -->
        <div class="inner-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="inner-content">
                            <h1>We Provide Hosting Packages</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.
                            </p>

                            <div class="inner-btn">
                                <a href="#" class="default-btn btn-bg-one border-radius-50">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="inner-banner-img">
                            <img src="assets\img\inner-banner\inner-banner-img1.png" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner Area End -->

        <!-- About Area -->
        <div class="about-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="assets\img\about-img.png" alt="Images">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-title">
                                <h2>About Company</h2>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum 
                                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->

        <!-- Service Area -->
        <section class="service-area pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>We Provide Hosting Solution</h2>
                    <p class="margin-auto">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg">
                                <i class="flaticon-web-hosting"></i>
                            </div>
                            <a href="wordpress-hosting.html">
                                <h3>WordPress Hosting</h3>
                            </a>
                            <p>Lorem Ipsum Dolor Sit Amet, Conse Tetur Sadip Scing Elitr, Sed Diam Temporno Numy Eirmod Tempor Invidunt.</p>
                            <a href="wordpress-hosting.html" class="discover-btn">Discover</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg2">
                                <i class="flaticon-cloud-hosting"></i>
                            </div>
                            <a href="shared-hosting.html">
                                <h3>Shared Hosting</h3>
                            </a>
                            <p>Lorem Ipsum Dolor Sit Amet, Conse Tetur Sadip Scing Elitr, Sed Diam Temporno Numy Eirmod Tempor Invidunt.</p>
                            <a href="shared-hosting.html" class="discover-btn">Discover</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg3">
                                <i class="flaticon-hosting-services"></i>
                            </div>
                            <a href="dedicated-hosting.html">
                                <h3>Dedicated Hosting</h3>
                            </a>
                            <p>Lorem Ipsum Dolor Sit Amet, Conse Tetur Sadip Scing Elitr, Sed Diam Temporno Numy Eirmod Tempor Invidunt.</p>
                            <a href="dedicated-hosting.html" class="discover-btn">Discover</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg3">
                                <i class="flaticon-vps"></i>
                            </div>
                            <a href="vps-hosting.html">
                                <h3>VPS Hosting</h3>
                            </a>
                            <p>Lorem Ipsum Dolor Sit Amet, Conse Tetur Sadip Scing Elitr, Sed Diam Temporno Numy Eirmod Tempor Invidunt.</p>
                            <a href="vps-hosting.html" class="discover-btn">Discover</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg">
                                <i class="flaticon-hosting"></i>
                            </div>
                            <a href="managed-hosting.html">
                                <h3>Managed Hosting</h3>
                            </a>
                            <p>Lorem Ipsum Dolor Sit Amet, Conse Tetur Sadip Scing Elitr, Sed Diam Temporno Numy Eirmod Tempor Invidunt.</p>
                            <a href="managed-hosting.html" class="discover-btn">Discover</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg2">
                                <i class="flaticon-cloud"></i>
                            </div>
                            <a href="cloud-hosting.html">
                                <h3>Cloud Hosting</h3>
                            </a>
                            <p>Lorem Ipsum Dolor Sit Amet, Conse Tetur Sadip Scing Elitr, Sed Diam Temporno Numy Eirmod Tempor Invidunt.</p>
                            <a href="cloud-hosting.html" class="discover-btn">Discover</a>
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <!-- Service Area End -->

        <!-- Brand Area -->
        <div class="brand-area ptb-100">
            <div class="container">
                <div class="brand-slider owl-carousel owl-theme">
                    <div class="brand-item">
                        <img src="assets\img\brand-logo\brand-logo1.png" alt="Images">
                        <h3 class="brand-color1">Neuro IT</h3>
                    </div>

                    <div class="brand-item">
                        <img src="assets\img\brand-logo\brand-logo2.png" alt="Images">
                        <h3 class="brand-color2">Vaxit Ltd</h3>
                    </div>

                    <div class="brand-item">
                        <img src="assets\img\brand-logo\brand-logo3.png" alt="Images">
                        <h3 class="brand-color3">Crokon</h3>
                    </div>

                    <div class="brand-item">
                        <img src="assets\img\brand-logo\brand-logo4.png" alt="Images">
                        <h3 class="brand-color4">Stiral</h3>
                    </div>

                    <div class="brand-item">
                        <img src="assets\img\brand-logo\brand-logo5.png" alt="Images">
                        <h3 class="brand-color3">Hosfit</h3>
                    </div>

                    <div class="brand-item">
                        <img src="assets\img\brand-logo\brand-logo6.png" alt="Images">
                        <h3 class="brand-color4">Teclada</h3>
                    </div>

                    <div class="brand-item">
                        <img src="assets\img\brand-logo\brand-logo7.png" alt="Images">
                        <h3 class="brand-color5">Sense Wave</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->

        <!-- Client Area -->
        <div class="client-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Client's Review</h2>
                    <p class="margin-auto">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                </div>
                <div class="client-view-slider owl-carousel owl-theme pt-45">
                    <div class="client-item">
                        <img src="assets\img\client-img\client-img1.png" alt="Images">
                        <p>
                            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                            sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                            magna aliquyam erat, sed diam voluptua. At vero eos."
                        </p>
                        <h3>Mario Ortega</h3>
                        <span>(CEO) Ocik Co Ltd.</span>
                    </div>

                    <div class="client-item">
                        <img src="assets\img\client-img\client-img2.png" alt="Images">
                        <p>
                            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                            sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                            magna aliquyam erat, sed diam voluptua. At vero eos."
                        </p>
                        <h3>Stephanie Garza</h3>
                        <span>(Manager) Ocik Co Ltd.</span>
                    </div>

                    <div class="client-item">
                        <img src="assets\img\client-img\client-img3.png" alt="Images">
                        <p>
                            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                            sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                            magna aliquyam erat, sed diam voluptua. At vero eos."
                        </p>
                        <h3>Stephanie Garza</h3>
                        <span>(Founder) Ocik Co Ltd.</span>
                    </div>

                    <div class="client-item">
                        <img src="assets\img\client-img\client-img11.png" alt="Images">
                        <p>
                            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                            sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                            magna aliquyam erat, sed diam voluptua. At vero eos."
                        </p>
                        <h3>Tom Henry</h3>
                        <span>(CEO) Ocik Co Ltd.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Area End -->

        <!-- footer Area End -->
        <footer class="footer-area footer-bg pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="assets\img\logos\logo-1.png" alt="Images">
                                </a>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, cons tetur sadipscing elitr sed.
                            </p>
                            <ul class="footer-list-contact">
                                <li>
                                    <i class='bx bxs-location-plus border-radius-50'></i>
                                    <a href="#">6890 Blvd, The Bronx, USA</a>
                                </li>
                                <li>
                                    <i class='bx bxs-envelope border-radius-50'></i>
                                    <a href="mailto:hello@durel.com">hello@durel.com</a>
                                </li>
                                <li>
                                    <i class='bx bx-phone-call border-radius-50'></i>
                                    <a href="tel:009-215-5596">009-215-5596</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3>Company</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="#" target="_blank">
                                        About Company
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        Company Profile
                                    </a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank">
                                        Careers & Reviews
                                    </a>
                                </li> 
                                <li>
                                    <a href="affiliates.html" target="_blank">
                                        Affiliates 
                                    </a>
                                </li> 
                                <li>
                                    <a href="terms-condition.html" target="_blank">
                                        Terms & Condition  
                                    </a>
                                </li> 
                                <li>
                                    <a href="privacy-policy.html" target="_blank">
                                        Privacy and police
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3>Services</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="wordpress-hosting.html" target="_blank">
                                        WordPress Hosting
                                    </a>
                                </li> 
                                <li>
                                    <a href="shared-hosting.html" target="_blank">
                                        Shared Hosting
                                    </a>
                                </li> 
                                <li>
                                    <a href="dedicated-hosting.html" target="_blank">
                                        Dedicated Hosting
                                    </a>
                                </li> 
                                <li>
                                    <a href="managed-hosting.html" target="_blank">
                                        Managed Hosting
                                    </a>
                                </li> 
                                <li>
                                    <a href="cloud-hosting.html" target="_blank">
                                        Cloud Hosting  
                                    </a>
                                </li> 
                                <li>
                                    <a href="vps-hosting.html" target="_blank">
                                        VPS Hosting
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                            <h3>Quick Links</h3>
                            <ul class="footer-list">
                                <li>
                                    <a href="index.html" target="_blank">
                                        Home
                                    </a>
                                </li> 
                                <li>
                                    <a href="blog-1.html" target="_blank">
                                        Blog
                                    </a>
                                </li> 
                                <li>
                                    <a href="faq.html" target="_blank">
                                        FAQ
                                    </a>
                                </li> 
                                <li>
                                    <a href="testimonials.html" target="_blank">
                                        Testimonials
                                    </a>
                                </li> 
                                <li>
                                    <a href="gallery.html" target="_blank">
                                        Gallery
                                    </a>
                                </li> 
                                <li>
                                    <a href="contact.html" target="_blank">
                                        Contact Us
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- footer Area End -->

        <!-- Copy Right Area -->
        <div class="copy-right-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="social-icon">
                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-google-plus'></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                                </li> 
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8">
                        <div class="copy-right-text">
                            <p>
                                Copyright @2020 Durel. All Rights Reserved by 
                                <a href="..\..\index.htm" target="_blank">HiBootstrap</a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copy Right Area End -->


        <!-- Jquery Min JS -->
        <script src="assets\js\jquery-3.5.1.slim.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets\js\popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets\js\bootstrap.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets\js\jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets\js\owl.carousel.min.js"></script>
        <!-- Nice Select Min JS -->
        <script src="assets\js\jquery.nice-select.min.js"></script>
        <!-- Wow Min JS -->
        <script src="assets\js\wow.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets\js\meanmenu.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="assets\js\jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets\js\form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="assets\js\contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="assets\js\custom.js"></script>
        
    </body>
</html>