<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="assets\css\bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets\css\animate.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="assets\fonts\flaticon.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="assets\css\boxicons.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="assets\css\magnific-popup.css">
        <!-- Owl Carousel Min CSS --> 
        <link rel="stylesheet" href="assets\css\owl.carousel.min.css">
        <link rel="stylesheet" href="assets\css\owl.theme.default.min.css">
        <!-- Nice Select Min CSS --> 
        <link rel="stylesheet" href="assets\css\nice-select.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="assets\css\meanmenu.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets\css\style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets\css\responsive.css">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets\img\favicon.png">

        <title>Durel - Domain & Hosting Agency HTML Template</title>
    </head>

    <body>
        <div class="preloader">
            <div class="loader-in">Loading...</div>
        </div>

        <!-- User All Area -->
        <div class="user-all-area min-100vh">
            <div class="container">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="user-all-form">
                            <div class="contact-form">
                                <div class="contact-form-title text-center">
                                    <h2>Create An Account</h2>
                                    <span>Please Enter You're The Informations </span>
                                </div>
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <div class="form-group">
                                                <label class="form-title">Full Name</label>
                                                <input type="text" name="name" class="form-control" required="" data-error="Please enter your Full Name" placeholder="Full Name">
                                            </div>
                                        </div>

                                        <div class="col-lg-12 ">
                                            <div class="form-group">
                                                <label class="form-title">Email</label>
                                                <input type="text" name="email" class="form-control" required="" data-error="Please enter your Email" placeholder="Email">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-title">Password</label>
                                                <input class="form-control" type="password" name="password" placeholder="Password">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-title">Confirm Password</label>
                                                <input class="form-control" type="password" name="confirm password" placeholder="Confirm Password">
                                            </div>
                                        </div>

                                        <div class="col-lg-12 form-condition">
                                            <div class="agree-label">
                                                <input type="checkbox" id="chb1">
                                                <label for="chb1">
                                                    I Agree With <a href="terms-condition.html">Terms & Conditions</a>
                                                </label>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-12 col-md-12 text-center">
                                            <button type="submit" class="default-btn btn-bg-one border-radius-50">
                                                Register
                                            </button>
                                        </div>

                                        <div class="col-lg-12 text-center">
                                            <div class="user-all-other">
                                                <h3>Or Register With</h3>
                                            </div>

                                            <div class="user-all-btn">
                                                <a href="#" class="user-btn"><img src="assets\img\log-in-icon.png" alt="Images"> Register With Google</a>
                                            </div>
                                        </div>

                                        <div class="col-12 text-center">
                                            <p class="account-desc">
                                                Already Have an Account?  
                                                <a href="log-in.html">Log In</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User All Area End -->
        

        <!-- Jquery Min JS -->
        <script src="assets\js\jquery-3.5.1.slim.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets\js\popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets\js\bootstrap.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="assets\js\jquery.magnific-popup.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="assets\js\owl.carousel.min.js"></script>
        <!-- Nice Select Min JS -->
        <script src="assets\js\jquery.nice-select.min.js"></script>
        <!-- Wow Min JS -->
        <script src="assets\js\wow.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets\js\meanmenu.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="assets\js\jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets\js\form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="assets\js\contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="assets\js\custom.js"></script>
        
    </body>
</html>