{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

            <!-- Inner Banner Area -->
        <div class="inner-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="inner-content">
                            <h1>Discord Bot Hosting</h1>
                            <p>
                                Checkout out dedicated discord bot hosting plans.
                            </p>

                            <div class="inner-btn">
                                <a href="#" class="default-btn btn-bg-one border-radius-50">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="inner-banner-img">
                            <img src="{% static 'img/inner-banner/inner-banner-img4.png' %}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner Area End -->

        <!-- Pricing Area -->
        <section class="pricing-area pt-100 pb-70 section-bg">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Pricing Plan</h2>
                    <p class="margin-auto">Pricing plans for our dedicated discord bot hosting. Plans are divided by the resources allocated.</p>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-card">
                            <div class="pricing-title">
                                <h2>Basic Package</h2>
                                <span>For bots on or less than 50 servers</span>
                            </div>
                            <div class="pricing-content">
                                <h3>$1</h3>
                                <div class="content">
                                    <span>.2</span>
                                    <p>/Month</p>
                                </div>
                            </div>
                            <ul>
                                <li>0.25 Core <i class='bx bx-check icon-color'></i></li>
                                <li>256MB  Ram<i class='bx bx-check icon-color'></i></li>
                                <li>Unlimited SSD Storage* <i class='bx bx-check icon-color'></i></li>
                                <li>100% CPU and RAM usage.<i class='bx bx-check icon-color'></i></li>
                                <li>Unmetered Bandwidth <i class='bx bx-check icon-color'></i></li>
                                <li>1x Performance and Speed <i class='bx bx-check icon-color'></i></li>
                                <li>Intel Xeon™ Instances<i class='bx bx-check icon-color'></i></li>
                            </ul>
                            <div class="get-btn-area text-center">
                                <a href="https://discord.gg/MdTp2Xyupd" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-card">
                            <div class="pricing-title">
                                <h2>Standard Package </h2>
                                <span>For bots on or less than 150 servers </span>
                            </div>
                            <div class="pricing-content">
                                <h3>$2</h3>
                                <div class="content">
                                    <span>.2</span>
                                    <p>/Month</p>
                                </div>
                            </div>
                            <ul>
                                <li>0.5 Core <i class='bx bx-check icon-color'></i></li>
                                <li>512MB  Ram<i class='bx bx-check icon-color'></i></li>
                                <li>Unlimited SSD Storage*<i class='bx bx-check icon-color'></i></li>
                                <li>100% CPU and RAM usage.<i class='bx bx-check icon-color'></i></li>
                                <li>Unmetered Bandwidth <i class='bx bx-check icon-color'></i></li>
                                <li>2x Performance and Speed <i class='bx bx-check icon-color'></i></li>
                                <li>Intel Xeon™ Instances<i class='bx bx-check icon-color'></i></li>
                            </ul>
                            <div class="get-btn-area text-center">
                                <a href="https://discord.gg/MdTp2Xyupd" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="pricing-card">
                            <div class="pricing-title">
                                <h2>VPS Package</h2>
                                <span>For bots on over 1000+ servers </span>
                            </div>
                            <div class="pricing-content">
                                <h3>$4</h3>
                                <div class="content">
                                    <span>.99</span>
                                    <p>/Month</p>
                                </div>
                            </div>
                            <ul>
                                <li>1 Core <i class='bx bx-check icon-color'></i></li>
                                <li>1GB  Ram<i class='bx bx-check icon-color'></i></li>
                                <li>30GB SSD <i class='bx bx-check icon-color'></i></li>
                                <li>100% CPU and RAM usage.<i class='bx bx-check icon-color'></i></li>
                                <li>Unmetered Bandwidth <i class='bx bx-check icon-color'></i></li>
                                <li>5x Performance and Speed <i class='bx bx-check icon-color'></i></li>
                                <li>Intel® Xeon® Scalable processors<i class='bx bx-check icon-color'></i></li>
                            </ul>
                            <div class="get-btn-area text-center">
                                <a href="#" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Area End -->

{% endblock content %}