{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
        <!-- Banner Area -->
        <div class="banner-area banner-bg">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>Dedicated Discord Bot Hosting</h1>
                            <ul>
                                <li>
                                    <i class='bx bxs-cloud-download'></i>
                                    100% Resource usage tier
                                </li>
                                <li>
                                    <i class='bx bxs-cloud-download'></i>
                                    Free Deployment assistance
                                </li>
                                <li>
                                    <i class='bx bxs-cloud-download'></i>
                                    Unmetered Bandwidth
                                </li>
                                <li>
                                    <i class='bx bxs-cloud-download'></i>
                                    24/7 Support
                                </li>
                            </ul>

                            <div class="banner-btn">
                                <a href="https://discord.gg/MdTp2Xyupd" class="get-btn">Get Started</a>
                                <a href="https://discord.gg/MdTp2Xyupd" class="register-btn">Registration </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="https://cdn.discordapp.com/attachments/782689812527317043/782691587679453184/home-one-img.png" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area -->

        <!-- Service Area -->
        <section class="service-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>We Provide Hosting Solution</h2>
                    <p class="margin-auto">We provide popular hosting services with one tap deployment with our very own admin panel. You also get 24/7 support with deployment assistance.</p>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg">
                                <i class="flaticon-cloud"></i>
                            </div>
                            <a href="#">
                                <h3>Discord Bot Hosting</h3>
                            </a>
                            <p>We provide <b>dedicated</b> discord bot hosting with 100% resource usage allowances.</p>
                            <a href="#" class="discover-btn">Discover</a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg3">
                                <i class="flaticon-vps"></i>
                            </div>
                            <a href="#">
                                <h3>Minecraft Hosting</h3>
                            </a>
                            <p>You can also host your own Minecraft Server with us</p>
                            <a href="#" class="discover-btn">Discover</a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-card">
                            <div class="services-icon services-icon-bg2">
                                <i class="flaticon-database"></i>
                            </div>
                            <a href="#">
                                <h3>Database Hosting</h3>
                            </a>
                            <p>We also provide popular database hosting services postgres and mysql.</p>
                            <a href="#" class="discover-btn">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Area End -->

        <!-- Pricing Area -->
        <section class="pricing-area pt-100 pb-70 section-bg">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Pricing Plan</h2>
                    <p class="margin-auto">Pricing plans for our dedicated discord bot hosting. Plans are divided by the resources allocated.</p>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-card">
                            <div class="pricing-title">
                                <h2>Basic Package</h2>
                                <span>For bots on or less than 50 servers</span>
                            </div>
                            <div class="pricing-content">
                                <h3>$1</h3>
                                <div class="content">
                                    <span>.2</span>
                                    <p>/Month</p>
                                </div>
                            </div>
                            <ul>
                                <li>0.25 Core <i class='bx bx-check icon-color'></i></li>
                                <li>256MB  Ram<i class='bx bx-check icon-color'></i></li>
                                <li>Unlimited SSD <i class='bx bx-check icon-color'></i></li>
                                <li>100% CPU and RAM usage.<i class='bx bx-check icon-color'></i></li>
                                <li>Unmetered Bandwidth <i class='bx bx-check icon-color'></i></li>
                                <li>1x Performance and Speed <i class='bx bx-check icon-color'></i></li>
                                <li>Intel Xeon™ Instances<i class='bx bx-check icon-color'></i></li>
                            </ul>
                            <div class="get-btn-area text-center">
                                <a href="#" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-card">
                            <div class="pricing-title">
                                <h2>Professional Package </h2>
                                <span>For bots on or less than 150 servers </span>
                            </div>
                            <div class="pricing-content">
                                <h3>$2</h3>
                                <div class="content">
                                    <span>.4</span>
                                    <p>/Month</p>
                                </div>
                            </div>
                            <ul>
                                <li>0.5 Core <i class='bx bx-check icon-color'></i></li>
                                <li>512MB  Ram<i class='bx bx-check icon-color'></i></li>
                                <li>Unlimited SSD <i class='bx bx-check icon-color'></i></li>
                                <li>100% CPU and RAM usage.<i class='bx bx-check icon-color'></i></li>
                                <li>Unmetered Bandwidth <i class='bx bx-check icon-color'></i></li>
                                <li>2x Performance and Speed <i class='bx bx-check icon-color'></i></li>
                                <li>Intel Xeon™ Instances<i class='bx bx-check icon-color'></i></li>
                            </ul>
                            <div class="get-btn-area text-center">
                                <a href="#" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="pricing-card">
                            <div class="pricing-title">
                                <h2>Threadripper Package</h2>
                                <span>For bots on over 1000+ servers </span>
                            </div>
                            <div class="pricing-content">
                                <h3>$4</h3>
                                <div class="content">
                                    <span>.99</span>
                                    <p>/Month</p>
                                </div>
                            </div>
                            <ul>
                                <li>1 Core <i class='bx bx-check icon-color'></i></li>
                                <li>1GB  Ram<i class='bx bx-check icon-color'></i></li>
                                <li>30GB SSD <i class='bx bx-check icon-color'></i></li>
                                <li>100% CPU and RAM usage.<i class='bx bx-check icon-color'></i></li>
                                <li>Unmetered Bandwidth <i class='bx bx-check icon-color'></i></li>
                                <li>5x Performance and Speed <i class='bx bx-check icon-color'></i></li>
                                <li>Ryzen™ Threadripper Instances<i class='bx bx-check icon-color'></i></li>
                            </ul>
                            <div class="get-btn-area text-center">
                                <a href="#" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Area End -->

        <!-- Choose Area -->
        <section class="choose-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Why Choose Us</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="choose-card">
                            <i class="flaticon-secure-shield"></i>
                            <h3>Security</h3>
                            <p>Your bots run on docker containers with dedicated resources.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="choose-card">
                            <i class="flaticon-backup-copy"></i>
                            <h3>Daily Data Backups</h3>
                            <p>Every plan comes with daily data backup. No worries of system failures!</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="choose-card">
                            <i class="flaticon-24-hours"></i>
                            <h3>24/7 Support</h3>
                            <p>You can get 24/7 support and assistance on our discord server</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Choose Area End -->

{% endblock content %}