{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

            <!-- Banner Area Two -->
        <div class="banner-area-three">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content-two">
{#                            <span><b>25% OFF</b> At First Monthly Services</span>#}
                            <h1>Dedicated discord bot hosting.</h1>
                            <div class="banner-btn-area">
                                <a href="#" class="get-btn">Get Started</a>
                                <a href="register.html" class="register-btn">Registration </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-img-three">
                            <img src="{% static 'img/home-three/home-three-img.png' %}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-shape">
                <div class="shape1">
                    <img src="{% static 'img/home-three/home-shape1.png' %}" alt="Images">
                </div>
                <div class="shape2">
                    <img src="{% static 'img/home-three/home-shape2.png' %}" alt="Images">
                </div>
            </div>
        </div>
        <!-- Banner Area Two End -->

        <!-- Service Area Three -->
        <section class="service-area-three pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>We Provide Hosting Solution</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="services-item-two">
                            <i class="flaticon-hosting-services"></i>
                            <h3><a href="wordpress-hosting.html">Discord Bot Hosting</a></h3>
                           <p>We provide <b>dedicated</b> discord bot hosting with 100% resource usage cap.</p>
                            <a href="wordpress-hosting.html" class="discover-btn">Discover</a>
                            <div class="service-shape">
                                <img src="{% static 'img/shape/shape3.png' %}" alt="Images">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-item-two">
                            <i class="flaticon-hosting"></i>
                            <h3><a href="shared-hosting.html">Minecraft Hosting</a></h3>
                            <p>You can also host your own Minecraft Server with us.</p>
                            <a href="shared-hosting.html" class="discover-btn">Discover</a>
                            <div class="service-shape">
                                <img src="{% static 'img/shape/shape3.png' %}" alt="Images">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-item-two">
                            <i class="flaticon-database"></i>
                            <h3><a href="dedicated-hosting.html">Database Hosting</a></h3>
                            <p>We also provide popular database hosting services postgres and mysql</p>
                            <a href="dedicated-hosting.html" class="discover-btn">Discover</a>
                            <div class="service-shape">
                                <img src="{% static 'img/shape/shape3.png' %}" alt="Images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Area Two End -->

        <!-- Pricing Area -->
        <section class="pricing-area pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Pricing Plan</h2>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-item-two">
                            <div class="pricing-title">
                                <h2>Basic Package</h2>
                                <span>For bots on or less than 25 servers </span>
                                <div class="pricing-title-content">
                                    <h3>$1.2</h3>
                                    <div class="content">
                                        <p>Per Month</p>
                                    </div>
                                </div>
                                <div class="pricing-shape">
                                    <img src="{% static 'img/shape/shape3.png' %}" alt="Images">
                                </div>
                            </div>
                            <ul>
                                <li><i class='bx bxs-check-circle'></i>0.5 Core</li>
                                <li><i class='bx bxs-check-circle'></i>512MB RAM</li>
                                <li><i class='bx bxs-check-circle'></i> 1GB SSD Storage</li>
                                <li><i class='bx bxs-check-circle'></i> 100% CPU and RAM Usage Cap</li>
                                <li><i class='bx bxs-check-circle'></i> Unmetered Bandwidth</li>
                                <li><i class='bx bxs-check-circle'></i> 1x Performance and Speed</li>
                                <li><i class='bx bxs-check-circle'></i> Intel Xeon™ Instances</li>
                            </ul>
                            <div class="get-item-btn">
                                <a href="#" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-item-two">
                            <div class="pricing-title">
                                <h2>Professional Package </h2>
                                <span>For bots on or less than 50 servers</span>
                                <div class="pricing-title-content">
                                    <h3>$2.2</h3>
                                    <div class="content">
                                        <p>Per Month</p>
                                    </div>
                                </div>
                                <div class="pricing-shape">
                                    <img src="{% static 'img/shape/shape3.png' %}" alt="Images">
                                </div>
                            </div>
                            <ul>
                                <li><i class='bx bxs-check-circle'></i>1 Core</li>
                                <li><i class='bx bxs-check-circle'></i>1GB RAM</li>
                                <li><i class='bx bxs-check-circle'></i> 2GB SSD Storage</li>
                                <li><i class='bx bxs-check-circle'></i> 100% CPU and RAM Usage Cap</li>
                                <li><i class='bx bxs-check-circle'></i> Unmetered Bandwidth</li>
                                <li><i class='bx bxs-check-circle'></i> 2x Performance and Speed</li>
                                <li><i class='bx bxs-check-circle'></i> Intel Xeon™ Instances</li>
                            </ul>
                            <div class="get-item-btn">
                                <a href="#" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="pricing-item-two">
                            <div class="pricing-title">
                                <h2>Threadripper Package</h2>
                                <span>For bots on over 200+ servers</span>
                                <div class="pricing-title-content">
                                    <h3>$4.99</h3>
                                    <div class="content">
                                        <p>Per Month</p>
                                    </div>
                                </div>
                                <div class="pricing-shape">
                                    <img src="{% static 'img/shape/shape3.png' %}" alt="Images">
                                </div>
                            </div>
                            <ul>
                                <li><i class='bx bxs-check-circle'></i>3 Core</li>
                                <li><i class='bx bxs-check-circle'></i>3GB RAM</li>
                                <li><i class='bx bxs-check-circle'></i> 3GB SSD Storage</li>
                                <li><i class='bx bxs-check-circle'></i> 100% CPU and RAM Usage Cap</li>
                                <li><i class='bx bxs-check-circle'></i> Unmetered Bandwidth</li>
                                <li><i class='bx bxs-check-circle'></i> 5x Performance and Speed</li>
                                <li><i class='bx bxs-check-circle'></i> Ryzen Threadripper™ Instances</li>
                            </ul>
                            <div class="get-item-btn">
                                <a href="#" class="get-btn">Get It Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Area End -->

        <!-- Choose Area Two -->
        <section class="choose-area-two pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Why Choose Us</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="choose-item-two">
                                    <div class="content">
                                        <i class="flaticon-secure-shield"></i>
                                        <h3>All Docker Deployment</h3>
                                    </div>
                                    <p>
                               All the deployed services runs on supervised docker containers.
                                So its secure to the core and is isolated from the other running services
                                and free of outer inteferences.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="choose-item-two">
                                    <div class="content">
                                        <i class="flaticon-hosting-services"></i>
                                        <h3>Dedicated hosting</h3>
                                    </div>
                                    <p>
                                All the deployed services runs on resources dedicated specifically for them.
                                Which means your application will get 100% usage allowance on every resources alloacated to it.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="choose-img">
                            <img src="{% static 'img/choose-img.png' %}" alt="Images">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="choose-item-two">
                                    <div class="content">
                                        <i class="flaticon-backup-copy"></i>
                                        <h3>Backup Data Limit</h3>
                                    </div>
                                    <p>
                                Every plan comes with daily backups. We use amazon Glacier for backing up your data each 24 hours.
                                Which means no worries of data loss or corruption.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="choose-item-two">
                                    <div class="content">
                                        <i class="flaticon-24-hours"></i>
                                        <h3>24/7 Support</h3>
                                    </div>
                                    <p>
                               We have an active community of subscribers and staff on our discord server where you can get
                                24/7 technical support and deployment assistance. Just open a ticket.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Choose Area Two End -->


        <!-- FAQ Area -->
        <div class="faq-area-three pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Frequently Asked Question</h2>
                </div>

                <div class="faq-accordion faq-accordion-max pt-45">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                How is Dedicated hosting any different?
                            </a>

                            <div class="accordion-content show">
                                <p>
                                    Dedicated hosting is hosting plan where your application gets 100% usage cap on the resources allocated
                                    unlike shared hosting where your application runs with multiple other applications.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                How do we handle security?
                            </a>

                            <div class="accordion-content">
                                <p>
                                    We use docker to the core, each application deployed with us runs on supervised docker containers
                                    with dedicated resources completely isolated from external interference.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                Do i get regular data backups?
                            </a>

                            <div class="accordion-content">
                                <p>
                                    We automatically backup your data each 24 hours. We use amazon glacier to backup
                                    the application data. While this might be slow (to recover) its good enought to get the job done.
                                </p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                Do i get deployment assistance?
                            </a>

                            <div class="accordion-content">
                                <p>
                                    Yes, our staff can help you with deployment with  no additional fee. Just join our discord server
                                    and create a ticket so we could take care of the issue for you.
                                </p>

                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                                <i class='bx bx-plus'></i>
                                Do you provide any other hosting services?
                            </a>

                            <div class="accordion-content">
                                <p>
                                    Our services are primarily focused on dedicated discord bot hosting. We also provide
                                    Minecraft server hosing and database hosting currently. We will start providing more services soon.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- FAQ Area End -->

{% endblock content %}