{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
        <!-- Inner Banner Area -->
        <div class="inner-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="inner-content">
                            <h1>Privacy Policy</h1>
                            <div class="inner-btn">
                                <a href="#" class="default-btn btn-bg-one border-radius-50">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="inner-banner-img">
                            <img src="{% static 'img/inner-banner/inner-banner-img4.png' %}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner Area End -->

        <!-- Privacy-Policy Area -->
        <div class="privacy-policy-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Novanodes Privacy Policy</h2>
                    <p class="margin-auto">This Policy Was Last Updated November 10, 2020.</p>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-12">
                        <div class="single-area-content">
                            <h3>Information collection</h3>
                            <p>
                                Under the General Data Protection Regulation of the European Union (the “GDPR”) and other similar data protection laws, we may either be defined as a controller or a processor of personal data. When Novanodes provides the Services to you, Novanodes generally acts as a “processor” of personal data, because Novanodes processes the personal data as part of the Service and at your direction. When acting as processer, Novanodes handles your personal data solely on your instructions, unless legally required to dootherwise. Novanodes is also considered a “controller” of your personal data if Novanodes determines how that data will be handled.

                                Addendums may be incorporated into this Policy to provide further information about Novanodes’s role as a controller or processor with respect to particular Services. Addendums are listed at the end of this Policy.
                            </p>
                        </div>
{##}
{#                        <div class="single-area-content">#}
{#                            <h3>Razor Pay Privacy Policy</h3>#}
{#                            <p>#}
{#                                This privacy policy (the " Privacy Policy") applies to your use of the website of Razorpay hosted at razorpay.com, the Services (as defined under the Razorpay "Terms of Use") and Razorpay applications on mobile platforms (Android, Blackberry, Windows Phone, iOS etc.) (collectively ("RAZORPAY" or "WEBSITE")), but does not apply to any third party websites that may be linked to them, or any relationships you may have with the businesses listed on Razorpay.#}
{##}
{#                                The terms " we", " our" and " us" refer to Razorpay and the terms " you", " your" and " User" refer to you, as a user of Razorpay. The term " Personal Information" means information that you provide to us which personally identifies you to be contacted or identified, such as your name, phone number, email address, and any other data that is tied to such information. Our practices and procedures in relation to the collection and use of Personal Information have been set-out below in order to ensure safe usage of the Website for you.#}
{##}
{#                                We have implemented reasonable security practices and procedures that are commensurate with the information assets being protected and with the nature of our business. While we try our best to provide security that is better than the industry standards, because of the inherent vulnerabilities of the internet, we cannot ensure or warrant complete security of all information that is being transmitted to us by you. By visiting this Website, you agree and acknowledge to be bound by this Privacy Policy and you hereby consent that we will collect, use, process and share your Personal Information in the manner set out herein below. If you do not agree with these terms, do not use the Website.#}
{##}
{#                                It is clarified that the terms and conditions that are provided separately, form an integral part of your use of this Website and should be read in conjunction with this Privacy Policy.#}
{#                            </p>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
        <!-- Privacy-Policy Area End -->
{% endblock content %}