{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}


        <!-- Inner Banner Area -->
        <div class="inner-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="inner-content">
                            <h1>Terms & Conditions</h1>
                            <p>
                                This Acceptable Use and External Facing Services Policy (“Policy”) applies to customers’ use of all services offered by novanodes.com.
                            </p>

                            <div class="inner-btn">
                                <a href="#" class="default-btn btn-bg-one border-radius-50">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="inner-banner-img">
                            <img src="{% static 'img/inner-banner/inner-banner-img3.png'  %}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner Area End -->

        <!-- Terms Conditions Area -->
        <div class="terms-conditions-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span class="sp-color">Information & Notices</span>
                    <h2>Novanodes Terms & Conditions</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-12">
                        <div class="terms-conditions-img">
                            <img src="{% static 'img/terms-condition-img.jpg" alt="Images">
                        </div>
                        <div class="single-content">
                            <h3>Introduction</h3>
                            <p>
                                We’re glad you’re here, and we hope you enjoy everything we have to offer. Please read these Terms carefully because they are a binding agreement between You and Novanodes.com.

                                These Terms govern your use of the websites that link to these Terms. In these Terms, the word “Sites” refers to each of these websites and the services offered on those Sites. You automatically agree to these Terms and to our Privacy Statement simply by using or logging into the Sites.
                            </p>
                        </div>

                        <div class="single-content">
                            <h3>Your Account</h3>
                            <p>

                                You may be required to create an account and specify a password in order to use certain services or features on the Sites. To create an account, you must be at least 18 years old and you must provide truthful and accurate information about yourself. Don’t try to impersonate anyone else when you create your account. If your information changes at any time, please update your account to reflect those changes.

                                In some cases, an account may be assigned to you by an administrator. If you are using or logging into an account assigned to you by an administrator, additional terms may apply to your use of the Sites. Moreover, your administrator may be able to access or disable your account without our involvement.

                                You may not share your account with anyone else. Please keep your password confidential, and try not to use it on other websites. If you believe that your account has been compromised at any time, please notify your system administrator.

                            </p>
                        </div>

                        <div class="single-content">
                            <h3>U.S. Digital Millennium Copyright Act or Similar Statutory Obligations</h3>
                            <p>
                                A. To the extent a customer uses the services for hosting, advertising, sending electronic messages, or for the creation and hosting of, or for posting material on, websites, each customer must:
                            <ol>
                            <li> Comply with any notices received under Title II of the Digital Millennium Copyright Act of 1998 (Section 512 of the U.S. Copyright Act) or similar statute in other countries (the “DMCA”);</li>
                            <li> Set up a process to expeditiously respond to notices of alleged infringement that comply with the DMCA and to implement a DMCA-compliant repeat infringers policy;</li>
                            <li> Publicly display a description of its notice and takedown process under the DMCA on its instance of the services; and</li>
                            <li> Comply with such processes, policy(ies), and description.</li>
                            </ol>
                            </p>
                            <p>
                                B. It is SFDC’s policy to respond expeditiously to valid notices of claimed copyright infringement compliant with the DMCA. In appropriate circumstances, SFDC will terminate the accounts of customers who SFDC suspects to be repeatedly or blatantly infringing copyrights.
                            </p>
                            <p>
                                C. If SFDC receives a notice alleging that material on a customer’s instance of a service infringes another party’s intellectual property, SFDC may disable that customer’s instance of the service or remove the allegedly infringing material. If SFDC receives more than one such notice for the same customer, SFDC reserves the right to immediately terminate such customer’s subscriptions to the services as deemed necessary by SFDC to ensure continued protection under the safe harbor provisions under the DMCA or to prevent violations of other applicable laws or third parties’ rights.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Terms Conditions Area End -->
{% endblock content %}