{% extends 'dashboard/layouts/base.html' %}

{% block title %} Profile {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

{% block content %}
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 100px; background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-darker opacity-8"></span>
      <!-- Header container -->
    </div>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Deployment logs  {% if request.user.member.settings.beta_tester %}<span><button class="btn-sm btn-outline-primary" disabled>beta feature</button></span>{% endif %}</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <textarea class="form-control" style="height: 35em;" resize="none" id="consoleLogTextArea" rows="3" disabled></textarea>
              </div>
              {% if app.running %}
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="logAutoUpdate">
                  <label class="form-check-label" for="logAutoUpdate">
                     Auto Update Logs
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="logAutoScroll">
                  <label class="form-check-label" for="logAutoScroll">
                     Auto Scroll
                  </label>
                </div>
              {% else %}
                <div class="form-check form-check-inline">
                    <button class="btn-sm btn-outline-danger" disabled><b>ERROR: </b> Please deploy your app to see the logs</button>
                </div>
              {% endif %}
              <div id="hiddenRefreshButton">
                  <br>
                  <button class="btn-sm btn-outline-primary">Click to display logs</button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-1"></div>
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 2000);
        </script>
      {% include "dashboard/includes/footer.html" %}

    </div>
    <script>
    function autoRefreshLogs(app_id){
        let refresh_quota = 0;
        setInterval(function () {
            let checkbox = $("#logAutoUpdate");
            if (checkbox.is(':checked')){
            const csrftoken = getCookie('csrftoken');
            refresh_quota+=1;
            if(refresh_quota%15===0) {
                checkbox.prop("checked", false);
                $('#hiddenRefreshButton').fadeIn();
            }
            $.ajax({
                url: `/app/logs/${app_id}`,
                type: 'GET',
                headers: {'X-CSRFToken': csrftoken},
                success: function (data) {
                    $('#consoleLogTextArea').html(data);
                    let scroll_box = $("#logAutoScroll");
                    if (scroll_box.is(':checked')) {
                        let element = document.getElementById("consoleLogTextArea");
                        element.scrollTop = element.scrollHeight - element.clientHeight;
                    }
                },
                error:function handleAjaxError(jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 503){
                        if(document.getElementById("consoleLogTextArea").value === ""){
                            $('#consoleLogTextArea').html(jqXHR.responseText);
                        }
                    }
                    else if (jqXHR.status === 404){
                        if(document.getElementById("consoleLogTextArea").value === ""){
                          $('#consoleLogTextArea').html("Error: Please deploy your app and try again");
                        }
                    }
                    else{
                        alertInfo("Nothing to update!")
                }
                }
            });
            }
        }, 8000);
    }
    </script>
    {% if app.running %}
    <script>autoRefreshLogs("{{ app.unique_id }}")</script>
    {% endif %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
