{% extends 'dashboard/layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3">
                Sign in with discord
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">

                {% if msg %}
                  <p>{{ msg }}</p>
                {% endif %}
              </div>
                <div class="text-center">
                    <a href="{{ Oauth.discord_login_url }}"><button type="submit" class="btn btn-primary my-4">Sign in</button></a>
                </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
{#              <a href="{% url 'register' %}" class="text-light"><small>Register</small></a>#}
            </div>
            <div class="col-6 text-right">
              <a href="https://discord.gg/EydXhNNfmd" class="text-light"><small>Get Support</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
