{% extends 'dashboard/layouts/base.html' %}

{% block title %} {{ request.user.first_name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-darker pb-8 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Billing log</h3>
                </div>
{#                <div class="col text-right">#}
{#                  <a href="#!" class="btn btn-sm btn-primary">See all</a>#}
{#                </div>#}
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Order id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for order in request.user.customer.get_orders %}
                  <tr>
                    <td>
{#                      <b style="color:black; background: aliceblue; padding:2px; font-size: 11px;">{{ order.id }}</b>#}
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Copy order id" transaction_id="{{ order.id }}" class="copyTransactionID"><i class="far fa-clone fa-lg"></i></a>
                    </td>
                    <th scope="row">
                      {% if order.credit %}
                      <i class="fas fa-plus-square text-green mr-3"></i> ${{ order.transaction_amount }}
                      {% else %}
                     <i class="fas fa-minus-square text-red mr-3"></i> ${{ order.transaction_amount }}
                      {% endif %}
                    </th>
                    <td>
                      <b>[{{ order.service }}]</b> {% if order.description %}{{ order.description }} {% endif %}
                    </td>
                    <td>
                      {{ order.update_time }}
                    </td>
                    <td>
                        <i class="fas {{ order.status }} mr-3"></i>{{ order.get_status_display }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-xl-12 mb-5 mb-xl-0 mt-5">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Your transactions</h3>
                </div>
{#                <div class="col text-right">#}
{#                  <a href="#!" class="btn btn-sm btn-primary">See all</a>#}
{#                </div>#}
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Transaction id</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Recipient/Patron</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for transaction in request.user.customer.get_transactions %}
                  <tr>
                    <td>
{#                      <b style="color:black; background: aliceblue; padding:2px; font-size: 11px;">{{ transaction.id }}</b>#}
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Copy transaction id" transaction_id="{{ transaction.id }}" class="copyTransactionID"><i class="far fa-clone fa-lg"></i></a>
                    </td>
                    <th scope="row">
                      {% if transaction.recipient  == request.user.customer %}
                      <i class="fas fa-plus-square text-green mr-3"></i> ${{ transaction.amount }}
                      {% else %}
                     <i class="fas fa-minus-square text-red mr-3"></i> ${{ transaction.amount }}
                      {% endif %}
                    </th>
                    <td>
                      <div class="avatar-group">
                        {% if transaction.recipient  == request.user.customer %}
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{ transaction.patron.user.username }}">
                          <img alt="{{ transaction.patron.first_name }}" src="{{ transaction.patron.get_avatar_url }}" class="rounded-circle">
                        </a>{{ transaction.patron.user.first_name }} #{{ transaction.patron.tag }}
                       {% else %}
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{ transaction.recipient.user.username }}">
                          <img alt="{{ transaction.recipient.first_name }}" src="{{ transaction.recipient.get_avatar_url }}" class="rounded-circle">
                        </a>{{ transaction.recipient.user.first_name }} #{{ transaction.recipient.tag }}
                        {% endif %}
                      </div>
                    </td>
                    <td>
                      {{ transaction.time }}
                    </td>
                    <td>
                        <i class="fas {{ transaction.status }} mr-3"></i>{{ transaction.get_status_display }}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Dark table -->
      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
