{% extends 'dashboard/layouts/base.html' %}

{% block title %} {{ request.user.first_name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-orange pb-8 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
                  <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Billing log</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <i class="fas fa-plus-square text-success mr-3"></i> $10
                    </th>
                    <td>
                      <b>[Subscription Renewal]</b> Nova app
                    </td>
                    <td>
                      1.00 pm
                    </td>
                    <td>
                        <i class="fas fa-dot-circle text-success mr-3"></i>Success
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Dark table -->
      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
