{% extends 'dashboard/layouts/base.html' %}

{% block title %} {{ request.user.first_name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-darker pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Affiliate Commission</h5>
                      <span class="h2 font-weight-bold mb-0">${{ request.user.customer.affiliate_commission }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-teal text-white rounded-circle shadow">
                        <i class="fas fa-user-plus"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
            </div>
            <div class="col-xl-3 col-lg-6">
            </div>
            <div class="col-xl-3 col-lg-6">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col-xl-7 mb-4 mt-5">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Affiliate Panel</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
                <p class="text-black font-weight-400">Share this unique affiliate link and invite more people to our platform.</p>
                <div class="input-group mb-3 w-75">
                  <input type="text" class="form-control" value="https://dashboard.novanodes.com/?refID={{ request.user.username }}" placeholder="Your referral link" aria-label="Your referral link" aria-describedby="basic-addon2" disabled>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary copyTransactionID" type="button"  transaction_id="https://dashboard.novanodes.com/?refID={{ request.user.username }}"><i class="far fa-clone fa-lg"></i></button>
                  </div>
                </div>
                <p class="text-black font-weight-400">For each customer joined through your link <b>you'll get 50% of their first month's subscription.</b><br>You can cash out these credits through Paypal or exchange them for hosting credits.<br><br><br></p>
            </div>
          </div>
        </div>
        <div class="col-xl-5 mb-4 mt-5">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Manage Commission</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body bg-gradient-blue">
                        <h3 class="card-title text-white">Convert to Credits</h3>
                        <p class="card-text text-white">You can convert your affiliate credits to hosting credits.</p>
                          <p class="card-text text-green font-weight-600" style="font-size: 13px; font-family: Courier;">*always available</p>
                        <a href="#" data-toggle="modal" data-target="#affiliateConvertCreditsModal" class="btn btn-sm btn-outline-dark">Convert</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body bg-gradient-teal">
                        <h3 class="card-title text-white">Transfer to Paypal</h3>
                        <p class="card-text text-white">Request payout into your paypal account.</p>
                        <p class="card-text text-red font-weight-600" style="font-size: 13px; font-family: Courier;">*end of the month</p>
                        <button href="#" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#affiliateTransferPaypal" disabled>Request</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 mb-5 mb-xl-0 mt-3">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Your Referrals</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Join Date</th>
                    <th scope="col">Account Status</th>
                    <th scope="col">Earnings</th>
                  </tr>
                </thead>
                <tbody>
                {% for affiliate in request.user.affiliate.all %}
                  <tr>
                    <td>
{#                      <b style="color:black; background: aliceblue; padding:2px; font-size: 11px;">{{ transaction.id }}</b>#}
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Copy transaction id" transaction_id="{{ affiliate.id }}" class="copyTransactionID"><i class="far fa-clone fa-lg"></i></a>
                    </td>
                    <th scope="row">
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{ affiliate.id }}">
                          <img alt="{{ affiliate.user.first_name }}" src="{{ affiliate.get_avatar_url }}" class="rounded-circle">
                        </a>{{ affiliate.user.first_name }} #{{ affiliate.tag }}
                      </div>
                    </th>
                    <td>
                        {{ affiliate.user.date_joined }}
                    </td>
                    <td>
                      {% if affiliate.verified %}
                      <i class="fas fa-check-circle text-success mr-2"></i>Verified
                      {% else %}
                      <i class="fas fa-times-circle text-danger mr-2"></i>Unverified
                      {% endif %}
                    </td>
                    <td>
                     {% if affiliate.first_order_amount %}
                         <i class="fas fa-plus-square text-green mr-2"></i>${{ affiliate.earnings }}
                     {% else %}
                       <i class="mr-4"></i><b>---</b>
                     {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <div class="modal fade" id="affiliateConvertCreditsModal" tabindex="-1" role="dialog" aria-labelledby="affiliateConvertCreditsModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteAppModalCenterLongTitle">Convert Credits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <label for="convertCreditsField">Enter the amount:</label>
                  <input type="number" class="form-control form-control w-50" name="convertCreditsField" placeholder="(min $1)">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="exchangeAffiliateCreditsBtn">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="affiliateTransferPaypal" tabindex="-1" role="dialog" aria-labelledby="affiliateTransferPaypal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="affiliateTransferPaypalLong">Transfer to PayPal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <label for="affiliateEmail">Enter Paypal email:</label>
                  <input type="email" class="form-control form-control" name="affiliateEmail" placeholder="">
                  <label for="affiliateTransferPaypal">Enter the amount:</label>
                  <input type="number" class="form-control form-control w-50" name="TransferPaypalField" placeholder="(min $5)">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Request</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      <!-- Dark table -->
      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
