{% extends 'dashboard/layouts/base.html' %}

{% block title %} Profile {% endblock title %}
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

{% block content %}
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 600px; background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {% if request.user.customer.address.firstname %}{{ request.user.customer.address.firstname }}{% else %}{{ request.user.first_name }}{% endif %}</h1>
            <p class="text-white mt-0 mb-5">This is your billing page. You can recharge credits and edit your billing address here.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ request.user.customer.get_avatar_url }}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4" data-placement="bottom" title="Currently unavailable" data-toggle="tooltip">Activity</a>
                <a href="{% url 'settings' %}" class="btn btn-sm btn-default float-right">Settings</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="text-center">
                <h3>
                  {% if request.user.customer.address.firstname %}{{ request.user.customer.address.firstname }} {% if request.user.customer.address.lastname %}{{ request.user.customer.address.lastname }}{% endif %}{% else %}{{ request.user.first_name }}{% endif %}
                </h3>
                <div class="h5 font-weight-300">
                  {{ request.user.email }}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Discord: {{ request.user.first_name }} #{{ request.user.customer.tag }}
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>Balance Credits: ${{ request.user.customer.credits }}
                </div>
                <hr class="my-4" />
              </div>
              <div class="card-body">
                <div id="smart-button-container">
                      <div style="text-align: center;">
                        <div style="margin-bottom: 1.25rem;">
                          <p>Novanodes hosting</p>
                          <select id="item-options"><option value="Basic Plan" price="1.2">Basic Plan - 1.2 USD</option><option value="Standard Plan" price="2.4">Standard Plan - 2.4 USD</option><option value="Premium Plan" price="4.99">Premium Plan - 4.99 USD</option></select>
                          <select style="visibility: hidden" id="quantitySelect"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>
                        </div>
                      <div id="paypal-button-container"></div>
                      </div>
                    </div>
                    <script src="https://www.paypal.com/sdk/js?client-id=ASPNtBT_opjbOhz-EawLko-pGBFWS0k2jOAErIeS5s2f7WXPJoF-1A0VQF9AERMSgD-jWCrEFLHxMkox&currency=USD" data-sdk-integration-source="button-factory"></script>
                    <script>
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                      function processTransaction(details) {
                          let url = '{% url 'billing_process' %}';
                          let csrftoken = getCookie('csrftoken');
                          fetch(url, {
                              method: 'POST',
                              headers: {'Content-Type': 'application/json',
                                        'X-CSRFToken':csrftoken
                              },
                              body: JSON.stringify({"details":details})
                          })

                      }  
                        
                      function initPayPalButton() {
                        var shipping = 0;
                        var itemOptions = document.querySelector("#smart-button-container #item-options");
                        var quantity = parseInt(12);
                        var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
                        if (!isNaN(quantity)) {
                        quantitySelect.style.visibility = "visible";
                        }
                        var orderDescription = 'Novanodes hosting';
                        if(orderDescription === '') {
                        orderDescription = 'Item';
                        }
                        paypal.Buttons({
                          style: {
                            shape: 'rect',
                            color: 'blue',
                            layout: 'vertical',
                            label: 'paypal',

                          },
                          createOrder: function(data, actions) {
                            var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
                            var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
                            var tax = (0 === 0) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
                            if(quantitySelect.options.length > 0) {
                              quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
                            } else {
                              quantity = 1;
                            }

                            tax *= quantity;
                            tax = Math.round(tax * 100) / 100;
                            var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
                            priceTotal = Math.round(priceTotal * 100) / 100;
                            var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

                            return actions.order.create({
                              purchase_units: [{
                                description: orderDescription,
                                amount: {
                                  currency_code: 'USD',
                                  value: priceTotal,
                                  breakdown: {
                                    item_total: {
                                      currency_code: 'USD',
                                      value: itemTotalValue,
                                    },
                                    shipping: {
                                      currency_code: 'USD',
                                      value: shipping,
                                    },
                                    tax_total: {
                                      currency_code: 'USD',
                                      value: tax,
                                    }
                                  }
                                },
                                items: [{
                                  name: selectedItemDescription,
                                  unit_amount: {
                                    currency_code: 'USD',
                                    value: selectedItemPrice,
                                  },
                                  quantity: quantity
                                }]
                              }]
                            });
                          },
                          onApprove: function(data, actions) {
                            return actions.order.capture().then(function(details) {
                                alert("Transaction is successfull. Your balance will be updated shortly");
                                processTransaction(details);
                                {#location.reload();#}
                            });
                          },
                          onError: function(err) {
                            console.log(err);
                          },
                        }).render('#paypal-button-container');
                      }
                      initPayPalButton();
                    </script>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <button type="submit" form="billing" class="btn btn-sm btn-primary">Save</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form id="billing" method="POST" action="{% url 'billing' %}">
                  {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Billing Address</h6>
                <div class="pl-lg-4">
                  <div class="row">
                      <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="{{ request.user.customer.address.firstname }}" name="firstname">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="{{ request.user.customer.address.lastname }}" name="lastname">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" class="form-control form-control-alternative" placeholder="{{ request.user.customer.address.location }}" type="text" name="location">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="{{ request.user.customer.address.city }}" name="city">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Country</label>
                        <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="{{ request.user.customer.address.country }}" name="country">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal code</label>
                        <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="{{ request.user.customer.address.pincode }}" name="pincode">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
              </form>
            </div>
          </div>
        </div>
      </div>
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 2000);
        </script>
      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
