{% extends 'dashboard/layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
      <!-- Mask -->
      <span class="mask {% if request.user.customer.dark_mode %}bg-default{% else %}bg-gradient-darker{% endif %} opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
      </div>
    </div>

    <div class="container-fluid mt--7">
     <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

      <div class="row">
        <div class="col-xl-12 order-xl-2">
          <div class="card {% if request.user.customer.dark_mode %}bg-gray{% else %}bg-secondary{% endif %} shadow">
            <div class="card-header {% if request.user.customer.dark_mode %}bg-gray{% else %}bg-white{% endif %} border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Deployment tutorial</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-default" onclick="hideNodeSection()">
                        <input type="radio" name="options" autocomplete="off"> <i class="fab fa-python"></i> Python
                      </label>
                      <label class="btn btn-success" onclick="hidePythonSection()">
                        <input type="radio" name="options" autocomplete="off"> <i class="fab fa-node-js"></i> Node.js
                      </label>
                    </div>
                  </div>
                    <div class="col-lg-9 text-darker" id="pythonDeploymentTutorial">
                        <h1>How to deploy your Python bot easily on our platform.</h1>
                        <br><br><br>
                        <h2 id="launchapp">Launch a Python app</h2><br>
                        <p class="font-weight-400">Go to the <a href="{% url 'panel' %}">dashboard panel</a>, click launch and select python.</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823200356859117599/tempsnip.png" class="img-fluid" width="1000px">
                        <p class="font-weight-400">Enter your app name (unique) and select your plan. Once done hit launch. You will be automatically redirected to the app management console</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823172602297319460/unknown.png" class="img-fluid" width="1000px">
                        <br><br><br>
                        <h2 id="uploadfiles">Upload your bot files and recreate the project structure.</h2><br>
                        <p class="font-weight-400">Upload your bot files using the upload button, Create folders and recreate your bot project structure exactly as it is on the panel</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823199589972705280/tempsnip.png" class="img-fluid" width="1000px">
                        <br>
                        <p class="font-weight-400">Don't forget to add the <a href="#requirements">requirement.txt</a> or <a href="#pipfile">Pipfile</a> with all the packages listed on your project root directory.</p>
                        <br>
                        <h2 id="setconfig">Set app configurations</h2>
                        <p class="font-weight-400">Press the <b>configure</b> button to set the app configurations, select the python version and main file (file from which code execution starts), Save.</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823196385695629332/tempsnip.png" class="img-fluid" width="1000px"><br>
                        <br>
                        <h2 id="deployyourapp">Deploy your app</h2>
                        <p class="font-weight-400">Now you are all set, click the <b>deploy</b> button to deploy your app and wait for the bot to boot up.</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823198172599025705/tempsnip.png" class="img-fluid" width="1000px"><br><br>
                        <h2 id="requirements">What is requirements.txt?</h2>
                        <p class="font-weight-400">If you have browsed any python projects on Github or elsewhere, you have probably noticed a file called requirements.txt</p>
                        <p class="font-weight-400">This requirements.txt file is <b>used for specifying what python packages are required to run the project</b> you are looking at. <br>Typically the requirements.txt file is located in the root directory of your project.</p>

                        <p class="font-weight-400">If you open a requirements.txt file, you will see something that looks similar to this:</p>
                        <p class="font-weight-400">discord.py==1.6.0</p>
                        <p class="font-weight-400">aiohttp==3.7.4</p>
                        <p class="font-weight-400">async-lru==1.0.2</p>
                        <p class="font-weight-400">async-timeout==3.0.1</p>
                        <p class="font-weight-400">virtualenv==16.3.0</p>
                        <p class="font-weight-400"><b>Your app needs either requirements.txt or Pipfile in the root folder to run.</b></p>
                        <br><br>
                        <h2 id="pipfile">What is a Pipfile?</h2>
                        <p class="font-weight-400">Pipfile is the dedicated file used by the Pipenv virtual environment to manage project dependencies. </p>
                        <p class="font-weight-400">This file is essential for using Pipenv. When you create a Pipenv environment either for a new or an existing project, the Pipfile is generated automatically.</p>
                        <p class="font-weight-400"><b>Your app needs either Pipfile or requirements.txt in the root folder to run.</b></p>
                    </div>
                    <div class="col-lg-3 {% if request.user.customer.dark_mode %}bg-transparent{% else %}bg-gradient-secondary{% endif %}" id="pythonTableOfContents">
                        <h3>Table of contents</h3>
                        <a href="#launchapp" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Launch your app</a><br>
                        <a href="#uploadfiles" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Upload the bot files</a><br>
                        <a href="#setconfig" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Set app configurations</a><br>
                        <a href="#deployyourapp" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Deploy your app</a><br>
                        <a href="#requirements" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">What is requirements.txt</a><br>
                        <a href="#pipfile" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">What is a Pipfile</a><br>
                    </div>


                    <div class="col-lg-9 text-darker hidden" id="nodeDeploymentTutorial" style="display:none;">
                        <h1>How to deploy your Node.js bot easily on our platform.</h1>
                        <br><br><br>
                        <h2 id="launchappnode">Launch a Node.js app</h2><br>
                        <p class="font-weight-400">Go to the <a href="{% url 'panel' %}">dashboard panel</a>, click launch and select node.js.</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823211516308357140/tempsnip.png" class="img-fluid" width="1000px">
                        <p class="font-weight-400">Enter your app name (unique) and select your plan. Once done hit launch. You will be automatically redirected to the app management console</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823211778016149605/unknown.png" class="img-fluid" width="1000px">
                        <br><br><br>
                        <h2 id="uploadfilesnode">Upload your bot files and recreate the project structure.</h2><br>
                        <p class="font-weight-400">Upload your bot files using the upload button, Create folders and recreate your bot project structure exactly as it is on the panel</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823212912381657158/tempsnip.png" class="img-fluid" width="1000px">
                        <br>
                        <p class="font-weight-400">Don't forget to add the <a href="#package_json">package.json</a> with all the packages listed on your project root directory.</p>
                        <br>
                        <h2 id="setconfignode">Set app configurations</h2>
                        <p class="font-weight-400">Press the <b>configure</b> button to set the app configurations, select the node.js version and start file (file from which code execution starts), Save.</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823213260240453652/tempsnip.png" class="img-fluid" width="1000px"><br>
                        <br>
                        <h2 id="deployyourappnode">Deploy your app</h2>
                        <p class="font-weight-400">Now you are all set, click the <b>deploy</b> button to deploy your app and wait for the bot to boot up.</p>
                        <img src="https://cdn.discordapp.com/attachments/821724303283322882/823214042495320094/tempsnip.png" class="img-fluid" width="1000px"><br><br>
                        <h2 id="package_json">What is a package.json</h2>
                        <p class="font-weight-400">All npm packages contain a file, usually in the project root, called package.json - this file holds various metadata relevant to the project.</p>
                        <p class="font-weight-400">This file is used to give information to npm that allows it to identify the project as well as handle the project's dependencies. </p>
                        <p class="font-weight-400"><b>Your app needs this file in the root folder to run</b></p>
                    </div>
                    <div class="col-lg-3 {% if request.user.customer.dark_mode %}bg-transparent{% else %}bg-gradient-secondary{% endif %}" id="nodeTableOfContents" style="display: none;">
                        <h3>Table of contents</h3>
                        <a href="#launchappnode" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Launch your app</a><br>
                        <a href="#uploadfilesnode" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Upload the bot files</a><br>
                        <a href="#setconfignode" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Set app configurations</a><br>
                        <a href="#deployyourappnode" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">Deploy your app</a><br>
                        <a href="#package_json" class="{% if request.user.customer.dark_mode %}text-darker{% endif %}">What is package.json</a><br>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
      <script>
          function hidePythonSection(){
              document.getElementById("pythonDeploymentTutorial").style.display = "none";
              document.getElementById("pythonTableOfContents").style.display = "none";
              document.getElementById("nodeDeploymentTutorial").style.display = "block";
              document.getElementById("nodeTableOfContents").style.display = "block";
          }
          function hideNodeSection(){
              document.getElementById("pythonDeploymentTutorial").style.display = "block";
              document.getElementById("pythonTableOfContents").style.display = "block";
              document.getElementById("nodeDeploymentTutorial").style.display = "none";
              document.getElementById("nodeTableOfContents").style.display = "none";
          }

      </script>
      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
