{% extends 'dashboard/layouts/base.html' %}

{% block title %} {{ request.user.first_name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Your apps</h5>
                      <span class="h2 font-weight-bold mb-0">{{ request.user.customer.get_active_app_count }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-app"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                  <div class="btn-group">
                      <button class="btn btn-outline-dark btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Launch</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter" onclick="setStack('Python')"><i class="fab fa-python"></i>Python</a>
{#                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter" onclick="setStack('Node.js')"><i class="fab fa-node-js"></i>Node.js</a>#}
{#                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter" onclick="setStack('Ruby')"><i class="ni ni-diamond"></i>Ruby</a>#}
                          <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="right" title="Currently Unavailable"><i class="fab fa-node-js"></i>Node.js</a>
                           <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="right" title="Currently Unavailable"><i class="ni ni-diamond"></i>Ruby</a>
                      </div>
                  </div>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
            </div>
            <div class="col-xl-3 col-lg-6">
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Credits</h5>
                      <span class="h2 font-weight-bold mb-0">${{ request.user.customer.credits }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="fas fa-dollar-sign"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                      <a href="{% url 'billing' %}"><button class="btn btn-lg btn-outline-dark">Recharge</button></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Your Applications</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">App</th>
                      <th scope="col">Stack</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Rate (pm)</th>
                    <th scope="col">Status</th>
                    <th scope="col">CPU usage</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for app in object_list%}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3 bg-dark">
                          <img alt="Image placeholder" src="{{ app.stack }}">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ app.name }}</span>
                        </div>
                    </th>
                      <td>
                     {{ app.get_stack_display }}
                    </td>
                      <td>
                  {% if app.get_status_display != "Terminated" %}
                     {{ app.get_plan_display }}
                  {% else %}
                        N/A
                  {% endif %}
                    </td>
                    <td>
                  {% if app.get_status_display != "Terminated" %}
                     ${{ app.plan }}
                  {% else %}
                        N/A
                  {% endif %}
                    </td>
                    <td>
                      <span class="badge badge-dot">
                        <i class="{{ app.status }}"></i> {{ app.get_status_display }}
                      </span>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{ app.cpu }}%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{ app.cpu }}%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                      {% if app.get_status_display != "Terminated" %}
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                      {% endif %}
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="/manage/{{ app.pk }}">Manage</a>
                          <a class="dropdown-item" href="#">Restart</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number}}" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                  <li class="page-item active"><a class="page-link" href="?page={{ page_obj.page_number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Launch new app</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="app-launch" method="post" action="{% url 'panel' %}">
                {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputCity">Name of your app</label>
                  <input type="text" class="form-control" pattern="[^' ']+" name="name" id="inputCity" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Plan</label>
                  <select id="inputState" class="form-control" name="plan" onchange="adjustRate()" required>
                    <option selected disabled>Choose...</option>
                    <option value="Base">Base</option>
                    <option value="Standard">Standard</option>
                    <option value="Premium">Premium</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="stack">Stack</label>
                  <input type="text" id="stack" class="form-control" name="stack" readonly>
                </div>
                <div class="form-group col-md-3">
                  <label for="rate">Rate</label>
                  <input type="text" class="form-control" name="rate" value="0" id="rate" readonly>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" form="app-launch" class="btn btn-primary">Launch</button>
          </div>
        </div>
      </div>
    </div>
    <script>
        function adjustRate() {
          var x = document.getElementById("inputState").value;
          if(x==="Base"){
          document.getElementById("rate").value = "1.2";}
          else if(x==="Standard"){
          document.getElementById("rate").value = "2.4";}
          else if(x==="Premium"){
          document.getElementById("rate").value = "4.99";}
        }
    </script>
        <script>
            function setStack(x) {
                    document.getElementById("stack").value = x;
            }
        </script>
      <!-- Dark table -->
      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
