{% extends 'dashboard/layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

{% load custom %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      <!-- Mask -->
      <span class="mask bg-gradient-success opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="text-white">{{ app.name }}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">App management console</h3>
                </div>
              </div>
            </div>
            <div class="card-body" id="refreshSection">
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                  <div class="row align-items-center">
                                  <div>
                                      {% if folder.folder.id %}
                                      <a href="/manage/{{ app.id }}/{{ folder.folder.id }} "><button type="button" class="btn btn-outline-primary btn-sm">Go back</button></a>
                                      {% endif %}
                                  </div>
                                    <div class="col text-right">
                                        <button type="button" href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-primary btn-sm">new folder</button>
                                        <button type="button" href="#" data-toggle="modal" data-target="#fileModalCenter" class="btn btn-outline-primary btn-sm">upload files</button>
                                    </div>
                                  </div>
                                </div>
                                <div class="table-responsive">
                                  <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                      <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Creation date</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">
{#                                            <button type="button" class="btn btn-outline-primary btn-sm">new folder</button>#}
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for dir in folder.master.all %}
                                      <tr>
                                        <th scope="row">
                                          <div class="media align-items-center">
                                            <div class="media-body">
                                                <a href="/manage/{{ app.id }}/{{ dir.id }}"><span class="mb-0 text-sm"><i class="fa fa-folder fa-lg"></i> {{ dir.name }}</span></a>
                                            </div>
                                          </div>
                                        </th>
                                        <td>
                                          {{ dir.creation_date }}
                                        </td>
                                        <td>
                                          <span class="badge badge-dot mr-4">{{ dir.get_size }}</span>
                                        </td>
                                        <td class="text-right">
                                          <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                              <a class="dropdown-item" href="#">Rename</a>
                                              <a class="dropdown-item" href="#" data-toggle="modal" onclick="setFolderName('{{ dir.name }}','{{ dir.id }}')" data-target="#deleteModalCenter">Delete</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    {% for file in folder.file_set.all %}
                                      <tr>
                                        <th scope="row">
                                          <div class="media align-items-center">
                                            <div class="media-body">
                                                <a href="#"><span class="mb-0 text-sm"><i class="fa fa-file-code fa-lg"></i> {{ file.name }}</span></a>
                                            </div>
                                          </div>
                                        </th>
                                        <td>
                                          {{ file.creation_date }}
                                        </td>
                                        <td>
                                            <span class="badge badge-dot mr-4">{{ file.get_size }}</span>
                                        </td>
                                        <td class="text-right">
                                          <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                              <a class="dropdown-item" href="#">Rename</a>
                                              <a class="dropdown-item" href="{{ file.item.url }}" download>Download</a>
                                              <a class="dropdown-item" href="#" data-toggle="modal" onclick="setFileName('{{ file.name }}','{{ file.pk }}')" data-target="#deleteModalCenter">Delete</a>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="card shadow">
                        <div class="card-header border-0">
                          <div class="row align-items-center">
                            <div class="col">
                              <h4 class="mb-0 text-uppercase">performance</h4>
                            </div>
                            <div class="col text-right">
                              <a href="#" class="btn btn-sm btn-primary">optimize</a>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">resource</th>
                                <th scope="col">% utilization</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">
                                  CPU
                                </th>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <span class="mr-2">{{ app.cpu }}%</span>
                                    <div>
                                      <div class="progress">
                                        <div class="progress-bar {{ app|get_status_color:app.cpu}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ app.cpu }}%;"></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  RAM
                                </th>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <span class="mr-2">{{ app.ram }}%</span>
                                    <div>
                                      <div class="progress">
                                        <div class="progress-bar {{ app|get_status_color:app.ram}}" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{ app.ram }}%;"></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  DISK
                                </th>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <span class="mr-2">{{ app.disk }}%</span>
                                    <div>
                                      <div class="progress">
                                        <div class="progress-bar {{ app|get_status_color:app.disk}}" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{ app.disk }}%;"></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  NETWORK
                                </th>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <span class="mr-2">{{ app.network }}%</span>
                                    <div>
                                      <div class="progress">
                                        <div class="progress-bar {{ app|get_status_color:app.network}}" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ app.network }}%;"></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">
                                  GLACIER
                                </th>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <span class="mr-2">{{ app.glacier }}%</span>
                                    <div>
                                      <div class="progress">
                                        <div class="progress-bar {{ app|get_status_color:app.glacier}}" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: {{ app.glacier }}%;"></div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                     </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="app-launch" enctype="multipart/form-data" method="post" action="{% url 'browse' app_id=app.id folder_id=folder.id %}">
                    {% csrf_token %}
                  <div class="form-row">
                    <label for="stack">Create new folder </label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="folder" placeholder="Name of your folder" aria-label="Name of your folder" aria-describedby="basic-addon2">
                      <input type="hidden" value="{{ folder.id }}" name="master">
                      <input type="hidden" value="{{ app.id }}" name="app_id">
                      <div class="input-group-append">
                        {% if request.user.customer.ajax_enabled %}
                        <button class="btn btn-primary folderButton">Create</button>
                        {% else %}
                        <button class="btn btn-primary" type="submit">Create</button>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="fileModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="app-launch" enctype="multipart/form-data" method="post" action="{% url 'browse' app_id=app.id folder_id=folder.id %}">
                    {% csrf_token %}
                  <div class="form-row">
                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <input type="hidden" value="{{ folder.id }}" name="master">
                        <input type="hidden" value="{{ app.id }}" name="file_app_id">
                        <input type="file" class="custom-file-input" name="files_to_upload" id="file_upload" accept=".py,.js,.json,.txt,.css,.html,.pdf,.htm,.doc,.docx,.log,.ppt,.pptx" multiple>
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        {% if request.user.customer.ajax_enabled %}
                        <button class="input-group-text btn btn-primary fileButton" id="">Upload</button>
                        {% else %}
                        <button class="input-group-text btn btn-primary" id="">Upload</button>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  Are you sure you want to delete <span id="itemName"></span>?<br>This action cannot be undone unless deploy backups are turned on.
              </div>
              <div class="modal-footer">
                <input type="hidden" id="folder_id" name="folder_id" value="">
                <input type="hidden" name="file_id" id="file_id" value="">
                <button type="button" class="btn btn-primary deleteButton">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <script>
            function setFileName(x,y) {
                    document.getElementById("itemName").textContent = x;
                    document.getElementById("file_id").value = y;
                    document.getElementById("folder_id").value = "";
            }
            function setFolderName(x,y) {
                    document.getElementById("itemName").textContent = x;
                    document.getElementById("folder_id").value = y;
                    document.getElementById("file_id").value = "";
            }
        </script>
      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
