{% extends 'dashboard/layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
      <!-- Mask -->
      <span class="mask bg-gradient-gray opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
      </div>
    </div>

    <div class="container-fluid mt--7">
     <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

      <div class="row">
        <div class="col-xl-12 order-xl-2">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Account Settings</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
            <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-dashboard-list" data-toggle="list" href="#list-dashboard" role="tab" aria-controls="home">Dashboard</a>
                  <a class="list-group-item list-group-item-action" id="list-notification-list" data-toggle="list" href="#list-notification" role="tab" aria-controls="messages">Notification</a>
                  <a class="list-group-item list-group-item-action" id="list-account-list" data-toggle="list" href="#list-account" role="tab" aria-controls="settings">Account</a>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-dashboard" role="tabpanel" aria-labelledby="list-dashboard-list">
                      <div class="card">
                          <div class="card-body">
                            <dl class="row">
                              <dt class="col-sm-3">Display terminated apps</dt>
                              <dd class="col-sm-9">
                                <input type="checkbox" id="terminated_apps" {% if request.user.customer.terminated_apps %}checked{% endif %} checked data-toggle="toggle" data-onstyle="info" data-offstyle="dark" data-size="xs">
                              </dd>
                            </dl>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="list-notification" role="tabpanel" aria-labelledby="list-notification-list">
                      <div class="card">
                          <div class="card-body">
                            <dl class="row">

                              <dt class="col-sm-3">Email notifications</dt>
                              <dd class="col-sm-2">
                                <input type="checkbox" id="email_alert_option" {% if request.user.customer.settings.email_notification %}checked{% endif %} data-toggle="toggle" data-onstyle="info" data-offstyle="dark" data-size="xs">
                              <dd class="col-sm-7">
                                  <p>Notification and alerts will be sent to your mail address.</p>
                              </dd>
                              <dt class="col-sm-3">App status alerts</dt>
                              <dd class="col-sm-2">
                                <input type="checkbox" id="app_status_option" {% if request.user.customer.settings.app_status_alert %}checked{% endif %} data-toggle="toggle" data-onstyle="info" data-offstyle="dark" data-size="xs">
                              </dd>
                              <dd class="col-sm-7">
                                  <p>Alerts will be pushed when app status changes</p>
                              </dd>
                              <dt class="col-sm-3">Down time alerts</dt>
                              <dd class="col-sm-2">
                                <input type="checkbox" id="down_time_option" {% if request.user.customer.settings.down_time_alert %}checked{% endif %} data-toggle="toggle" data-onstyle="info" data-offstyle="dark" data-size="xs">
                              </dd>
                              <dd class="col-sm-7">
                                  <p>You'll be notified of unexpected downtimes.</p>
                              </dd>
                              <dt class="col-sm-3">Maintenance break alerts</dt>
                              <dd class="col-sm-2">
                                <input type="checkbox" id="maintenance_option" {% if request.user.customer.settings.maintenance_break_alert %}checked{% endif %} data-toggle="toggle" data-onstyle="info" data-offstyle="dark" data-size="xs">
                              </dd>
                              <dd class="col-sm-7">
                                  <p>You'll be notified of scheduled maintenance breaks.</p>
                              </dd>
                              <dt class="col-sm-3">New offers and deals</dt>
                              <dd class="col-sm-2">
                                <input type="checkbox" id="offers_option" {% if request.user.customer.settings.new_offers_alert %}checked{% endif %} data-toggle="toggle" data-onstyle="info" data-offstyle="dark" data-size="xs">
                              </dd>
                              <dd class="col-sm-7">
                                  <p>You'll be the first to hear when there is a new offer or sale.</p>
                              </dd>
                            </dl>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="list-account" role="tabpanel" aria-labelledby="list-account-list">
                      <div class="card">
                          <div class="card-body">
                            <dl class="row">

                              <dt class="col-sm-3">Name: </dt>
                              <dd class="col-sm-9">
                                {% if request.user.customer.address.firstname %}{{ request.user.customer.address.firstname }} {% if request.user.customer.address.lastname %}{{ request.user.customer.address.lastname }}{% endif %}{% else %}{{ request.user.first_name }}{% endif %}
                              </dd>
                              <dt class="col-sm-3">Email: </dt>
                              <dd class="col-sm-9">
                                {{ request.user.email }}
                              </dd>
                              <dt class="col-sm-3">Account no: </dt>
                              <dd class="col-sm-9">
                                {{ request.user.username }}
                              </dd>
                              <dt class="col-sm-3">Creation date: </dt>
                              <dd class="col-sm-9">
                                {{ request.user.date_joined }}
                              </dd>
                              <dt class="col-sm-3">Status: </dt>
                              <dd class="col-sm-9">
                                {% if request.user.customer.verified %}Verified{% else %}Unverified{% endif %}
                              </dd>
                              <dt class="col-sm-3">Discord id: </dt>
                              <dd class="col-sm-9">
                                {{ request.user.first_name }} #{{ request.user.customer.tag }}
                              </dd>
                              <dt class="col-sm-3">Credits: </dt>
                              <dd class="col-sm-9">
                                ${{ request.user.customer.rounded_credits }}
                              </dd>
                              <dt class="col-sm-3">Last login: </dt>
                              <dd class="col-sm-9">
                                {{ request.user.last_login }}
                              </dd>
                            {% if request.user.customer.address.location %}
                              <dt class="col-sm-3">Billing address: </dt>
                              <dd class="col-sm-9">
                                {{ request.user.customer.address.location }}<br>{{ request.user.customer.address.city }} {{ request.user.customer.address.country }}<br>
                              {% if request.user.customer.address.pincode %}
                                  Zip: {{ request.user.customer.address.pincode }}
                              {% endif %}
                              </dd>
                            {% endif %}
                            <dt class="col-sm-12"><hr class="my-4"></dt>
                            <dt class="col-sm-3">
                                <h3 class="heading-small">Danger Zone</h3><br>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModalCenter">Close Account</button>
                            </dt>
                            <dd class="col-sm-9"></dd>
                            </dl>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
        <div class="modal fade" id="deleteAccountModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Close your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  Are you sure you want to delete your account?<br><br>
                  <strong>Warning!</strong> This actions is irreversible, you will lose all your data, apps and all the files and backups related to it.<br>Any credits left in your account won't be refunded.<br><br>Enter <code>Terminate account</code> below to delete your account.<br>
                  <input type="text" class="form-control form-control-sm" name="accountTerminationField" placeholder="Terminate account">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger deleteAccountButton">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>

      {% include "dashboard/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
